:root {
--primary-text-color: #212121;
--paragraph-text-color: #757575;
--accent-color: #2196F3;
--title-text-color: #FFFFFF;
--background-basic-color: #FFFFFF;
--secondary-background-color: #2F303A;
--button-background-color: #F5F4FA;  
--basement-contact-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--background-basic-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

.header-class {
    border-bottom: 1px solid #ECECEC;   /*добавить вар*/
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  
}

.hidden-title {
    /* display: none; */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-head-container {
 display: flex;
 align-items: center;
 justify-content: space-between;
 /* padding-top: 32px;
 padding-bottom: 32px; */
}

.navigation-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
}

.project-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.project-container {
    background-color: var(--background-basic-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

/* .basement-container{
 padding-top: 60px;
 padding-bottom: 60px;
} */

.specialty-list {
 display: flex;
 align-items: center;
 justify-content: center;
 align-items: flex-start;
 column-gap: 30px;
}

.team-container {
    
    background-color: var(--background-basic-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.activity-list {
 display: flex;
 align-items: center;
 column-gap: 30px;
 
}

.team-list {
    display: flex;
    align-items: center;
    column-gap: 30px;
   }

.page-navigation{
    display: flex;
    align-items: center;
    
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-benefits {
    padding-top: 0px;
    padding-bottom: 94px;
}

.section-hat {
    padding-top: 200px;
    padding-bottom: 200px;
}

.list {
    list-style: none;
}

/* .menu {
    display: flex;
    align-items: center;
    column-gap: 50px;
} */

.site-nav{
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.contacts-item {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

/* .mail-head {
    margin-left: 344px;
} */

.link:hover, 
.link:focus {
    color: var(--accent-color);
}

.contact:hover, 
.contact:focus {
    color: var(--accent-color);
}

.basement-link:hover, 
.basement-link:focus {
    color: var(--accent-color);
}

.button-link:hover,
.button-link:focus{
    color: var(--title-text-color);
    background-color: var(--accent-color);
}

.basement-adress:hover, 
.basement-adress:focus {
    color: var(--accent-color);
}

.basement-contact:hover, 
.basement-contact:focus {
    color: var(--accent-color);
}

.button-link {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    background-color: var(--button-background-color);
    letter-spacing: 0.03em;
    line-height: 1.63;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
}

.button-hat {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--title-text-color);
    background-color: var(--accent-color);
    letter-spacing: 0.06em;
}

.hat-title {
    color:var(--title-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.specialty-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}


.specialty-paragraph {
    font-size: 14px;
    line-height: 1.71;
    color: var(--paragraph-text-color);
    letter-spacing: 0.03em;
    
}

.activity {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

/* навигация по шапке */

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
}

.site-nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

/* контакты шапка*/
.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--paragraph-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* контакты подвал */
.basement-adress {
    font-size: 14px;
    line-height: 1.71;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
}

.basement-adr-li{
    margin-bottom: 9px;
}

.basement-contact-mail {
    font-size: 14px;
    line-height: 1.71;
    color: var(--basement-contact-color);
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
}

.basement-cont-li{
    margin-bottom: 9px;
}

.basement-contact {
    font-size: 14px;
    line-height: 1.71;
    color: var(--basement-contact-color);
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
}

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.team-paragraph {
    font-size: 16px;
    line-height: 1.19;
    color: var(--paragraph-text-color);
    letter-spacing: 0.03em;
    text-align: center;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}


.project-paragraph {
    font-size: 16px;
    line-height: 1.88;
    color: var(--paragraph-text-color);
    letter-spacing: 0.03em;
   
}

.logo {
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    line-height: 1.19;
    font-family: 'Raleway';
    margin-right: 93px;
}

.basement-logo {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    font-family: 'Raleway';
    text-decoration: none;
    color: var(--title-text-color);
    margin-bottom: 20px;
    display: inline-block;
}
.accent {
    font-weight: 700;
    font-size: 26px;
    color: var(--accent-color);
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    text-decoration: none;
}

.hat {
    background-color: var(--secondary-background-color);
    text-align: center;
}

.workers {
    background-color: var(--button-background-color);
} 

.basement {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}



